<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 


	</head>
	
	<body>
    <div class="container">    
    
    <h1>Welcome to ChatAPI</h1>
    <h2>Chat with me about your interests, and I'll reply with the details.</h2>

        <form class="grid" action="/birthday_fact" method="POST">
            {% if fruit_name %}
            <p>Your favorite fruit is {{fruit_name}}.</p>
            <p>This is facts about your favorite fruits.</p>
            <p class="output">{{fruit}}</p>
           
          <label for="name">Next, please enter you birthday in this format (month/day) :</label>
          <input type="text" id="date" name="date" placeholder="Enter your name...">

          <center><input class="file_submit" type="Submit"></center>
          {% endif %}
        </form>
      </div>
        <div class="example-section">
          <div class="example-title"><b>Example of Response:</b></div>
          <div class="example-content">
              <p class="example-content"><strong>Example User Input:</strong>09/12 as 12th of September</p>
              <p class="example-content"><strong>Another answer:</strong>You can also put any date that you are interested with...</p>
          </div>
      </div>
  

    </body>

</html>