<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 




	</head>
	
	<body>
    <div class="container">    
    <h1>Welcome to ChatAPI.</h1>
        <h2>Chat with me with your interest and I reply with the details.</h2>

        <form class="grid" action="/hp_books" method="POST">
            {% if True %}
            <p>This segment is for Harry Potter's books and facts.</p>
            <div class="output"><p>{{book_fact}}</p>
            
            <img src={{book_image}} alt="image">
            <p>Book's cover</p>
        </div>
          {% endif %}
        </form>

      </div>

    </div>  
    <div class="example-section">
      <div class="example-title"><b>Thank you for using my website :))</b></div>
      <div class="example-content">
        <p class="example-content">Any recommendations for improvement will be appreciated and please reach me @wanumair1209@gmail.com</p>
        </div>
      </div>
    </body>

</html>