<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 

	</head>
	
	<body>
    <div class="container"> 
        <h1>Welcome to ChatAPI.</h1>
        <h2>Chat with me with your interest and I reply with the details.</h2>

        <form class="grid" action="/profile" method="POST">

       
           
          <label for="name">First, enter you name, or enter no to create random user:</label>
          <input type="text" id="name" name="name">

          <center><input class="file_submit" type="Submit"></center>

        </form>
      </div>
        

        

        
        <br>
        <br>
        <br>


    </body>

</html>